<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Profile</title>
</head>
<body>
	<h1>Hi!! {{name}}</h1>
	<form action = "/show">
		<button type = "submit">Home</button>
	</form>
	<form action="/massege" method="POST">
		<div class="mb-3">
		  <label for="exampleInputEmail1" class="form-label">confession</label>
		  <input type="text" class="form-control" name = "conf" id="exampleInputEmail1" aria-describedby="emailHelp">
		</div>
		<div class="mb-3">
		  <label for="exampleInputPassword1" class="form-label">tags</label>
		  <input type="text" class="form-control" name = "tag" id="exampleInputPassword1">
		</div>
		<button type="submit" class="btn btn-primary">add confession</button>
	  </form>
</body>
</html>